<div class="container-fluid bd">
	<div class="row">
		<div class="nv_bar">
	    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <a class="navbar-brand" href="#">BB</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item ml-2">
			        <a class="nav-link" (click)="homeEventHandler()">Home</a>
			      </li>
			      <li class="nav-item active ml-2">
			        <a class="nav-link" >About Us</a>
			      </li>
			      <li class="nav-item ml-2">
			        <a class="nav-link" (click)="contactusEventHandler()">Contact Us</a>
			      </li>
			     
			   
			      <li class="nav-item ml-2">
			        <a class="nav-link" (click)="checkoutEventHandler()">Checkout Cart</a>
			      </li>


			      <li class="nav-item ml-2">
			        <a class="nav-link" (click)="orderEventHandler()">Orders</a>
			      </li>

			    </ul>
			    <ul *ngIf="!logged" class="navbar-nav">
			      <li class="nav-item mr-3">
			      	<button class="btn btn-outline-primary" routerLink="/login">
			    		Login
			    	</button>
			      </li>

			      <li class="nav-item">
			      	<button class="btn btn-outline-primary" routerLink="/register">
			    		Register
			    	</button>
			      </li>
			    </ul>
			    <ul *ngIf="logged" class="navbar-nav">
			    	<li class="nav-item my-auto"><a>Hello 		{{this.userName}}</a>
			    	</li>
			    	<li class="nav-item ml-4">
				    	<button class="btn btn-outline-danger" routerLink="/login">
				    		Logout
				    	</button>
			    	</li>
			    </ul>
			  </div>
			</nav>
		</div>

	</div>

	<div class="row">
		<div class="col-8 offset-2 txt 
		p-5">
			<div class="card">
			  <div class="card-header text-light ch">
			    Book Bazaar
			  </div>
			  <div class="card-body">
			    <h5 class="card-title"><strong>About Us</strong></h5>
			    <p class="card-text ct">
			    	Book Bazaar is one of the leading book base E-commerce websites according to numerous trustworthy and reliable sources.
			    	Book Bazaar was established  in the year 2006 with an aim to cater to the needs of book loving audience that needs nothing less
			    	than an amazing collection of books with reasonable prices and with good delivery network and trustworthy payment systems.
			    </p>

			    <p class="card-text ct mt-3">

			    	Over a decade ago, we started a store to sell snowboards online. None of the ecommerce solutions at the time gave us the control we needed to be successful—so we built our own. Today, businesses of all sizes use BookBazaar, whether they’re selling online, in retail stores, or on-the-go.

				</p>

				<p class="card-text ct mt-3">

					We help people achieve independence by making it easier to start, run, and grow a business. We believe the future of commerce has more voices, not fewer, so we’re reducing the barriers to business ownership to make commerce better for everyone.
					BookBazaar has grown from 5 people in a coffee shop to over 5,000 across the globe. With over 1,000,000 businesses powered by BookBazaar, we care deeply about the work we do. We’re constant learners who thrive on change and seek to have an impact in everything we do.

				</p>
			  </div>
			</div>
		</div>

	</div>
</div>