 <div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5">
        <h1 class="text-center">Uploading a book section</h1>
        </div>
    </div>  
    <div class="row">
    <form class="mt-5 border col-4 offset-4 p-2" [formGroup]="entryForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="title" formControlName = "title">
      </div>
      <div class="form-group">
        <label for="Author">Author</label>
        <input type="text" class="form-control" id="author" placeholder="author" formControlName = "author">
      </div>
      <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" id="description" placeholder="description" formControlName = "description">
      </div>
      <div class="form-group">
        <label for="pric">price</label>
        <input type="text" class="form-control" id="price" placeholder="price" formControlName = "price">
      </div>
      <div class="form-group">
        <label for="releaseYear">release year</label>
        <input type="text" class="form-control" id="release year" placeholder="release year" formControlName = "releaseYear">
      </div>
      <div class="form-group">
        <label for="genre">genere</label>
        <input type="text" class="form-control" id="genere" placeholder="genre" formControlName = "genere">
      </div>
      <div class="form-group">
            <input type="file" class="form-control" (change)="fileChangeEvent($event)" class="fileInputProfile">
        </div>
      <button type="submit" class="btn btn-primary text-center">Submit</button>
</form>
</div>
</div>

    <!-- <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <fieldset class="form-group">

                <label>Upload Logo</label>
                {{imageError}}
                <div class="custom-file fileInputProfileWrap">
                    
                    <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                    <br/>
                    <label>Titel: </label>
                    <input type="text" name="title" formControlName = "title">
                    <br/>

                    <label>Author: </label>
                    <input type="text" name="author" formControlName = "author">
                    <br/>
                    <label>description: </label>
                    <input type="text" name="description" formControlName="description">
                    <br/>
                    <label>price:</label>
                    <input type="text" name="price" formControlName = "price">
                    <br/>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <div class="img-space">

                        <ng-container *ngIf="isImageSaved; else elseTemplate">
                            <img [src]="cardImageBase64" />
                        </ng-container>
                        <ng-template #elseTemplate>

                            <img src="./../../assets/novel.jpg" class="img-responsive">
                        </ng-template>

                    </div>

                </div>
            </fieldset>
        </div>
        <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
    </form> -->