<div class="container-fluid bd">
	<div class="row hd">
      <div class="align-self-center text-center col-sm-12">
      <p class="txt text-light" >Book Bazaar </p>
      </div>
    </div>

    <div class="row">
    	<div class="col-4 offset-4 box">
    		<h3 class="text-center text-light">Login</h3>
    		<form>
			  <div class="form-group">
			    <label for="exampleInputEmail1" class="text-light">Username</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1" class="text-light">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			  </div>
			  <div class="form-group form-check">
			    <input type="checkbox" class="form-check-input" id="exampleCheck1">
			    <label class="form-check-label text-light" for="exampleCheck1">Check me out</label>
			  </div>
			  <button type="submit" class="btn btn-warning btn-block">Submit</button>
			</form>
    	</div>
    </div>


</div>